/* UTILITY */

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.white {
  color: #ffffff;
}

.blue {
  color: rgb(29, 83, 153);
}

.grey {
  color: #333333;
}

ul {
  list-style: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

/* HOMEPAGE */

.homepage {
  background: url(images/homepage.png) no-repeat center center;
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  width: 100%;
  height: 100vh;
  /* width: 100%;
  height: 100%; */
  margin-top: -16px;
  padding-top: 5px;
}

.navbar-items {
  justify-content: space-around;
}

.navbar-links {
  gap: 2vw;
  text-decoration: underline;
  line-height: 1.5rem;
}

/* HISTORY */
.navar-history {
  background-color: #ffffff;
}

.history-img {
  background: url(images/history.png) no-repeat center center;
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  width: 100%;
  height: 100vh;
  /* width: 100%;
  height: 100%; */
  margin-top: -16px;
  padding-top: 5px;
}

.slideshow {
  background-color: #333333c2;
  padding: 30px;
}

.slideshow img {
  margin-right: 20px;
}